<div class="row">
    <div class="col bg-white">
        <h1>Exam 12a - HTML/Bootstrap</h1>
    </div>
</div>

<div class="row">
    <div class="col bg-white p-5 m-3">
        <div class="border border-5 border-danger">
            <img src="images/cat.jpg" width="100%" class="border border-5 border-warning">
        </div>
    </div>
    <div class="col bg-white p-5 m-3">
        <div class="border border-5 border-danger">
            <img src="images/cat.jpg" width="100%" class="border border-5 border-warning">
        </div>
    </div>
    <div class="col bg-white p-5 m-3">
        <div class="border border-5 border-danger">
            <img src="images/cat.jpg" width="100%" class="border border-5 border-warning">
        </div>
    </div>
    <div class="col bg-white p-5 m-3">
        <div class="border border-5 border-danger">
            <img src="images/cat.jpg" width="100%" class="border border-5 border-warning">
        </div>
    </div>
</div>

<div class="row">
    <div class="col bg-white p-5">

    </div>
    <div class="col bg-white">
        <form method="post" action="/petinfo">
            <div class="row">
                <div class="col bg-warning border border-5 border-primary">
                    Enter your pet's name: <input class="mt-3" type="text" name="Pet's name" placeholder="Pet's name"><br>
                    Pet's sex: 
                    <select name="sex">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <br>
                    Pet's birthday: <input type="date" name="bday"><br>
                    <input type="submit" class="btn btn btn-primary mt-2 mb-3">
                </div>
            </div>
        </form>

    </div>
    <div class="col bg-white p-5">

    </div>

</div>


<div class="row">
    <div class="col bg-white p-5 m-3">
        <div class="border border-5 border-danger">
            <img src="images/dog.jpg" width="100%" class="border border-5 border-warning">
        </div>
    </div>
    <div class="col bg-white p-5 m-3">
        <div class="border border-5 border-danger">
            <img src="images/dog.jpg" width="100%" class="border border-5 border-warning">
        </div>
    </div>
    <div class="col bg-white p-5 m-3">
        <div class="border border-5 border-danger">
            <img src="images/dog.jpg" width="100%" class="border border-5 border-warning">
        </div>
    </div>
    <div class="col bg-white p-5 m-3">
        <div class="border border-5 border-danger">
            <img src="images/dog.jpg" width="100%" class="border border-5 border-warning">
        </div>
    </div>
</div>
