<div class="d-flex flex-wrap">
    <% for (course of courses){%>
        <div class="p-3 m-3 bg-info border border-primary border-5">
            <%= course['subject'] %>
            <%= course.coursenum %>
            <%= course.name %>
            <%= course.term %>

        </div>
    <% } %>

</div>
